<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>Edit Profile</h1>
    <%= form_for current_user do |f| %>  
      <div class="form-group">
        <%= f.label :name, 'Name*' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'Email*' %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'New Password*' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :password_confirmation, 'Confirm New Password*', class: 'col-md-4 control-label' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <%= f.submit 'Save Changes', class: 'btn btn-dark' %>
    <% end %>
  </div>
</div>

<br/>
<button type="button" class="btn btn-dark">
    <a href="/users/<%= current_user.id %>/delete" class="buttonreadmore">Delete Profile</a>
</button>
