
<h1>Books with Friends</h1>

<h3> See What Others Are Reading </h3>
<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author/s</th>
      <th scope="col">Categories</th>
      <th scope="col">Added by</th>
      <th scope="col">Read More</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
        <% user.books.each do |book| %>
            <tr>
                <td> <%= book.name %> </td>
                <td> <%= book.author %> </td>
                <td> <%= book.description %> </td>
                <td> <%= user.name %> </td>
                <td> <a href="<%= book.link %>">Read More</a></td>
            </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

