<h1 id="homepagetitle"> Your Book List</h1>


<div class="profilebuttons">
    <button type="button" class="btn btn-dark">
        <a href="/users/<%= @user.id %>/searchbooks" class="buttonreadmore">Explore What to Read</a>
    </button>
    <button type="button" class="btn btn-dark">
        <a href="/users/<%= @user.id %>/edit" class="buttonreadmore">Edit Profile</a>
    </button>
</div>



<div id="profiletable">
    <table class="table table-bordered table-dark">
    <thead>
        <tr class="thead">
        <th scope="col">My Current List</th>
        <th scope="col">Title</th>
        <th scope="col">Author/s</th>
        <th scope="col">Categories</th>
        <th scope="col">Read More</th>
        </tr>
    </thead>
    <tbody>
    <% @user.books.each do |book| %>
        <tr>
            <td> <img src="<%= book.image%>"> <br/> 
                <%= form_tag(user_book_path(current_user),:method => :delete) do %>
                    <%= hidden_field_tag :book_id, book.id %>
                    <%= submit_tag("Remove From List", class:"addandremove") %>
                <% end %>   
            </td>
            <td> <br/><br/><br/><%= book.name %> </td>
            <td> <br/><br/><br/><%= book.author %> </td>
            <td> <br/><br/><br/><%= book.description %> </td>
            <td> <br/><br/><br/><a href="<%= book.link %>">Read More</a></td>
        </tr>
    <% end %>
    </tbody>
    </table>
<div>
