<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
        <%= form_tag(search_path, :method => "get") do %>
            <%= text_field_tag(:q, nil, :class => "search_input") %>
            <%= submit_tag("", :class => "search_icon" ) %>
        <% end %>
        </div>
    </div>
</div>

<% @results.each do |book| %>   
   <div class="container" id="books"> 
        <h5 class="title"> <%= book.title %> </h5>
        <h5 class="author"> by <%= book.authors %> </h5>
        <img class="img" src="<%= book.image_link %>"> 
        <div class="buttons">
            <button type="button" class="btn btn-dark"><a href="<%= book.info_link %>" class="buttonreadmore">Read More</a></button>
            <%= form_tag(user_books_path(current_user)) do %>
                <%= hidden_field_tag :title, book.title %>
                <%= hidden_field_tag :authors, book.authors %>
                <%= hidden_field_tag :description, book.categories %>
                <%= hidden_field_tag :image_link, book.image_link %>
                <%= hidden_field_tag :info_link, book.info_link %>
                <%= submit_tag("Add to My List") %>
            <% end %>   
        </div>
   </div>
<% end %>





