<!DOCTYPE html>
<html>
  <head>
    <title>BookClubApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab:700" rel="stylesheet">
  </head>

  <body>
      <%= render "partials/navbar" %>
      <%= yield %>  
  </body>
</html>
